:root {
      --bs_vivid: #1ABC9C;
      --bs_darker: #2C3E50;
      --bs_lighter: #3A546D;
}


/* #region Debug */
.debug header,
.debug .credits {
      background-color: var(--bs_darker);
}

.debug [class^="col"] {
      border: 1px solid black;
      height: 50px;
}

.debug .jumbotron,
.debug .about {
      background-color: var(--bs_vivid);
}

.debug header [class^="col"] {
      background-color: yellow;
}
.debug .jumbotron [class^="col"] {
      background-color: red;
}

.debug .portfolio [class^="col"] {
      background-color: blue;
}

.debug .about [class^="col"] {
      background-color: purple;
}

.debug .credits [class^="col"] {
      background-color: lightgreen;
}

.debug .copyright [class^="col"] {
      background-color: lightcoral;
}

/* #endregion Debug */


/* #region Utilities */

.bs_lighter {
      background-color: var(--bs_lighter);
}

.bs_vivid {
      background-color: var(--bs_vivid);
}

.text_up {
      text-transform: uppercase;
}
/* #endregion Utilities */

/* #region header */

header .container a {
      text-transform: uppercase;
      font-weight: bold;
      color: white;
}

/* #endregion header */

/* #region main */

.jumbotron img {
      width: 250px;
}

/* #endregion main */